<div class='row'>
  <div id='chapter' class='main col-md-7'>
    <h1><%= link_to book.title, routes.book_path(book.permalink) %></h1>

    <% if chapter.part == "mainmatter" %>
      <h2>Chapter <%= chapter.position %> - <%= chapter.title %></h2>
    <% else %>
      <h2><%= chapter.title %></h2>
    <% end %>

    <%= link_to "All notes for this chapter", "#" %>
    <hr>
    <%= render_elements(chapter) %>
  </div>

  <div class='col-md-4'>
    <div id='sidebar' class='sticky'>
      <strong id='previous_chapter'><%= link_to previous_chapter.title, routes.book_branch_chapter_path(book_id: book.permalink, branch_id: branch.name, id: previous_chapter.permalink) %></strong>
      <hr>
      <ul id='section_listing'>
      </ul>
      <hr>
      <strong id='next_chapter'><%= link_to next_chapter.title, routes.book_branch_chapter_path(book_id: book.permalink, branch_id: branch.name, id: next_chapter.permalink) %></strong>
    </div>
  </div>
</div>
